<h1>Create Clinician</h1>
<%= form_for(@clinician) do |f| %>
<div class="ui container">
	<div class="ui form segment">
​
		  <div class="field">
		    <label>First Name</label>
		    <%= f.text_field :first_name, :required => true %>
		  </div>
		  <div class="field">
		    <label>Last Name</label>
		    <%= f.text_field :last_name, :required => true %>
		  </div>
		  <div class="field">
		    <label>E-Mail</label>
		    <%= text_field_tag(:email, nil, :required => true) %>
		  </div>
		  <div class="field">
		    <label>Password</label>
		    <%= password_field_tag(:password, nil, :required => true) %>
		  </div>
	    <div class="field">
		    <%= f.label :password_confirmation %><br />
		    <%= f.password_field :password_confirmation, autocomplete: "off" %>
		  </div>
		  <div class="field">
		    <div class="ui checkbox">
		      <input type="checkbox" tabindex="0" class="hidden">
		      <label>I agree to the Terms and Conditions</label>
		    </div>
		  </div>
		  <%= f.submit "Register Now", class: "ui button" %>
	</div>
</div>
<% end %>
